@import "./node_modules/bootstrap/scss/bootstrap";

$theme-colors: (
  primary: purple,
  secondary: red,
  success: green,
  info: cyan,
  warning: yellow,
  danger: red,
  light: #ccc,
  dark: #999
);
